<html>
  <head>
    <title>Game Page</title>
    <script src="/scripts/index.js" defer></script>
    <script src="/scripts/games/index.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <h1>Game Page (Authenticated)</h1>
    <form method="get" action="/lobby">
      <input type="submit" value="Exit"/>

    <div id="game">
      Game area
      <div id="start-game">
        Start game
      </div>
    
      <!-- <div id="start-button">
        <form method="post" action="/games/start">
          <input type="submit" value="Start Game"/>
          <a href="/games/<%= game_id %>/start">Start <%= game_id %></a>
        </form>
      </div>
    -->
      <div id="draw-pile">I'm the draw pile make me pretty</div>

      <div id="users">
        <div class="user">
          <span class="username">Host:<%= creating_user %></span>
          <div class="cards"></div>
        </div>
      </div>
    </div>

    

    <template id="user-template">
      <div class="user">
        <span class="username"></span>
        <div class="cards"></div>
      </div>
    </template>

    <!-- A Card -->
    <template id="card-template">
      <div>
        <span class="number"></span>
        <span class="color"></span>
      </div>
    </template>

    <div id="chat">Chat area</div>
    <!-- Chat Box -->
    <div id="chat-container"> 
      <div id="messages"></div>
      <label>
        <input id="chatMessage" name="chat-message" placeholder="Message..." />
      </label>
    </div>

    <!-- A Chat Message -->
    <template id="chat-message-template">
      <div>
        <span class="username"></span>
        <span class="message"></span>
        <span class="timestamp"></span>
      </div>
    </template>

  </body>
</html>
