<html>
  <head>
    <title>Game Page</title>
    <script src="/scripts/bundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <h1>Game Page (Authenticated)</h1>
    <a href="/lobby">Lobby</a>

    <div id="game">Game area</div>
    <div id="chat">Chat area</div>
  </body>
</html>
