/*Background*/
body {
    background-color:royalblue;
    margin: 0;
    padding: 0;
  }

/*The Text Bar At the Top*/
#project-label{
    background-color: white;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}

.games-buttons-container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 40%;
    margin-right: 40%;
}

.lobby-form input[type="submit"],
.exit-form input[type="submit"]{
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

.page-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
  
#page-right {
    flex: 0 0 300px; /* Adjust the width of the chat column as needed */
    margin-right: 20px;
}

.game-container {
    flex: 1;
    min-width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
}

.game-container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-container-header h1{
    margin: 0;
    text-align: center;
}

.game-container-header h3{
    margin: 0;
}

.game-container-header button{
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
}

.start-button{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background-color: black;
    color:white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 4px;
  }

#users-cardcount{
    display: flex;
    justify-content: center;
 }

#current-player-turn{
    display: flex;
    justify-content: center;
    margin: 10px;
 } 

/* Card Image Styling */
.main-cards {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.topcard-img {
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
}

#game-card-rows{
    display: flex;
    justify-content: center;
}

.cardimage {
    width: 100px;
    height: 150px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*Chat*/
#chat {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #chat-container {
    margin-top: 20px;
    flex-grow: 1;
  }
  
  #messages {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    flex-grow: 1;
  }
  
  input#chatMessage {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

